{% extends "base.html" %}
{% block ahead_script %}
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/highlight.js/9.1.0/styles/monokai-sublime.min.css">
    <link rel="stylesheet" href="/static/blog/css/hr.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.3.0/markdown-it.min.js"></script>
    <script src="https://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/marked@0.3.6"></script>
{% endblock %}
{% block content %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ object.title }}
        {% if request.user == object.author %}
            <a href="/blog/{{ object.id }}/edit"><span class="glyphicon glyphicon-edit"></span></a>
        {% endif %}
        </h2>
        <p class="blog-post-meta">{{ object.ctime }} by {{ object.author }}</p>
        <p class="blog-post-article" id="blog-post-article"></p>
    </div>
    <hr class="style15"/>
    <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ object.id }}" data-title="{{ object.title }}" data-url="{{ request.get_full_path }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"peimingyuanblog"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
	</script>
    <script>
    function heredoc(fn) {
        return fn.toString().split('\n').slice(1,-1).join('\n') + '\n'
    }
    var article = heredoc(function () {/*
{{ object.article | safe }}
                */});
    $("document").ready(function () {
        $("#blog-post-article").html(marked(article, { sanitize: false }));
        hljs.initHighlightingOnLoad();
    });
    </script>
<!-- 多说公共JS代码 end -->
{% endblock %}