Django==1.9.7
django-cors-headers==1.1.0
django-crispy-forms==1.6.0
django-debug-toolbar==1.4
django-redis-cache==1.6.5
djangorestframework==3.3.3
django-bootstrap3==7.1.0

gunicorn==19.6.0
idna==2.1
pyOpenSSL==16.0.0
pyasn1==0.1.9
pycparser==2.16
python-json-logger==0.1.5
redis==2.10.5
requests==2.10.0
sqlparse==0.2.1

Markdown==2.6.6
markdown2==2.3.1

PyMySQL==0.7.9

#xadmin for python3.5
django-reversion~=2.0.0
django-formtools==1.0
future==0.15.2
httplib2==0.9.2

aiohttp