<!DOCTYPE html>
{% load i18n %}
{% load bootstrap3 %}
<html lang="en">
<head>
    {% block ahead_script %}{% endblock %}
    {% include "global_css.html" %}
    {% block extra_style %}{% endblock %}
    <title>{% block title %}Mingyuan Pei's Blog{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <style type="text/css">
        #header-img {
            margin-top: 40px;
            margin-bottom: 20px;
        }
        body {
            padding-top: 70px;
        }
    </style>
</head>

<body>
    <div id="header">
        {% block header %}{% include "header.html" %}{% endblock %}
    </div>
    {% block main_body %}
    <div class="container" style="min-height: 1000px">
        <div id="content" class="row">
            <div class="col-sm-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                {% block side %}
                    <div class="sidebar">
                        <img src="/static/blog_django/img/head.JPG" class="img-rounded" id="header-img">
                        <div class="sidebar-module sidebar-module-inset" style="">
                            <h4>关于作者:</h4>
                            <ul class="list-inline">
                                <li><span class="glyphicon glyphicon-pushpin"></span> 后端工程师(Python)</li>
                                <li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:chnpmy@gmail.com"> chnpmy@gmail.com</a></li>
                                <li><span class="glyphicon glyphicon-link"></span><a href="https://github.com/chnpmy/"> https://github.com/chnpmy/</a></li>
                            </ul>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}
    <div id="footer">
        <hr/>
        {% block footer %}{% include "footer.html" %}{% endblock %}
    </div>

    {% include "global_script.html" %}

    {% block extra_script %}{% endblock %}
</body>
</html>